*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img{
	display: block;
	max-width: 100%;
}
body{
    max-width: 1920px;
    margin: 0 auto;
   font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1060px;
    overflow: hidden;
    margin: 0 auto;
}
.header{}
.header-top{
    overflow: hidden;
    margin-top: 20px;
}
.header-top .logo{
    width: 50%;
    float: left;
}
.header-top .logo img{}
.socials{
    width: 50%;
    float: left;
    padding-top: 10px;
}
.socials nav{}
.socials nav ul{
    text-align: right;
}
.socials nav ul li{
    display: inline-block;
    list-style: none;
    padding-left: 15px;
}
.socials nav ul li a:hover img{
	
}
hr{
    margin: 20px 0;
    border: 1px solid #DADADA;
}
.header-bottom{
    margin-bottom: 20px;
}
.header-bottom ul{
    text-align: left;
}
.header-bottom li{
    display: inline-block;
    list-style: none;
}
.header-bottom li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: arial;
    color: #737373;
    padding-right: 20px;
    transition: all 0.4s ease;
}
.header-bottom li a:hover{
	color: #0BBEF5;
}
.banner{
    position: relative;
    background-image: url(../images/bannerbg.jpg);
    min-height: 525px;
}
.banner-img{}
.banner-img img{
    width: 100%;
    min-height: 525px;
}
.portfolio{
   margin-top: 63px;
}
.desktop{
    position: absolute;
    top: 116px;
    left: 45%;
    transform: translateX(-45%);
}
.desktop img{
    max-width: 992px;
    margin: 0 auto;
}
.portfolio-content{
    max-width: 992px;
    margin: 40px auto;
}
.portfolio-content p{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #AFADAE;
    padding: 0px 112px;
    line-height: 1.5;
}
.portfolio-content .btn{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: #fff;
    background: #2ECD71;
    display: block;
    width: 210px;
    margin: 0 auto;
    padding: 10px 20px;
    margin-top: 20px;
    transition: all 0.4 ease;
}
.portfolio-content .btn:hover{
	background-color: #00BBF5;
}
.about-us{
    background: #EFEFEF;
    padding: 40px 0;
} 
.about-img {
    width: 40%;
    float: left;
} 
.about-img img{
    width: 100%;
} 
.about-content{
    width: 60%;
    float: left;
    padding-left: 30px;
}
.about-content h2{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #989898;
}
.about-content p{
    font-size: 16px;
    color: #B0B0B0;
    line-height: 1.3;
    padding-top: 30px;
}
.find-us{
    background-color: #31302E;
    padding: 40px 0;
}
.find-left{
    width: 50%;
    float: left;
}
.find-left h2{
    color: #fff;
    text-transform: uppercase;
    padding-top: 5px;
}
.find-right{
    width: 50%;
    float: left;
}
.find-right .click{
    display: block;
    background-color: #2DCC70;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    max-width: 255px;
    margin-left: auto;
    font-weight: 600;
    text-align: center;
    transition: all 0.4s ease;
}
.find-right .click:hover{
	background-color: #00BBF5;
}
footer{
    color: #A7A7A7;
    background: #EFEFEF;
    padding: 30px 0;
}
.footer-left{
    width: 50%;
    float: left;
}
.footer-left p{
    font-size: 14px;
    text-transform: uppercase;
}
.footer-right{
    width: 50%;
    float: left;
}
.footer-right ul{
    text-align: right;
}
.footer-right li{
    display: inline-block;
    list-style: none;
}
.footer-right li:nth-child(4){
	padding-right: 0px;
	border-right: none;
}
.footer-right li a{
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #A7A7A7;
    margin-left: 5px;
    transition: all 0.4s ease;
}
.footer-right li i{
	transform: rotate(90deg);
	font-size: 10px;
	margin-left: 10px;
}
.footer-right li a:hover{
	color: #00BBF5;
}